---
import Layout from '../layouts/Layout.astro'
import HelloWorld from '~/components/HelloWorld.astro'
import DefineInput from '~/components/DefineInput.vue'
---

<Layout title="Welcome to Astro.">
  <div class="flex-col-center gap-10">
    <HelloWorld />
    <DefineInput client:only="vue" />
  </div>
</Layout>

<style></style>
